<%- include('partials/header') %>

<header class="site-header sticky-top py-1"> 
<nav class="container navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/secrets">Konfessions</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/secrets">All Konfessions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mysecrets">My Konfessions</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
</header>

<!-- <div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Unveil The World's Deepest Secrets!</h1>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
    <hr>


    <hr>


  </div>
</div> -->

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Welcome To Your Secrets Bank!</h1>
        <p class="lead text-muted">Manage your secrets here.</p>
        <p>
          <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
          <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <!-- Need to pinpoint secrets array for each user and list them out by looping through them -->
        <% specificUser.secret.forEach(function(secret){ %>
            <div class="col">
                <div class="card shadow-sm">
                  <div class="card-body">
                    <p class="card-text">
                       <%=secret.secretBody%>
                      </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <form action="/mysecrets?_method=DELETE" method="POST">
                            <div class="btn-group">
                                <input class="btn btn-sm btn-danger" type="hidden" name="deleteSecret" value="<%=secret._id%>"/>
                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                            </div>       
                        </form>
               
                                <a href="/mysecrets/<%=secret._id%>/edit" class="btn btn-warning btn-sm " role="button">Edit</a>
                      
                    </div>
                  </div>
                </div>
              </div>
        <% }) %>
      
      </div>
    </div>
  </div>

</main>

<%- include('partials/footer') %>